<h1>WolfEvents</h1>
  <h3>NCSU Event Management System</h3>
  <%if current_user %>
      Logged in
    <%= link_to "Logout",logout_path %>
  <%else %>
    <%= link_to "Signup", signup_path%> or
    <%= link_to "Login",login_path %>
  <%end %>
