
<%if current_user %>

  <%if current_user.is_admin %>
    <%= link_to "Add Events",new_event_path %><br>
  <%else %>
    <div></div>
  <%end %>

  <%= link_to "View Events", events_path %>
<%else %>
  <%= link_to "Signup", signup_path%> or
  <%= link_to "Login",login_path %>
<%end %>
