<%= form_with(url: search_events_path, method: :get, local: true) do |form| %>
  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_field :event_name %>
  </div>

  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>